In [1]:
names = ['Shafizade', 'Naderi', 'Soltani', 'Moghaddamfar', 'Dezfuli', 'Rafiei']

In [3]:
a, b, c, d, e, f = names
# a, b, c, d, e, f = 'Shafizade', 'Naderi', 'Soltani', 'Moghaddamfar', 'Dezfuli', 'Rafiei'

In [4]:
print(names)

['Shafizade', 'Naderi', 'Soltani', 'Moghaddamfar', 'Dezfuli', 'Rafiei']

In [5]:
print(a)

Shafizade

In [ ]:
# Data Types:
# 1. int : 1, 2, 3
# 2. float: 1.1 , 2.2 , ..
# 3. str: 'lksadmvma vljfaoughrf' | "jfnigbk3789qr588786567$$$$$%   +4"
# 4. list: [1, 2, 3, 1.2, 4.3, "Hello", "32532534543"]

In [6]:
a = 25
print(type(a))

<class 'int'>

In [7]:
print(a*2)

50

In [8]:
b = str(a)

In [9]:
print(type(b))

<class 'str'>

In [10]:
print(b)

25

In [11]:
print(b*2)

2525

In [12]:
c = "123"
print(c*2)

123123

In [13]:
c = int(c)
print(c*2)

246

In [ ]:
# comment
# variable
# Data types
# type casting (str -> int | int -> str)
# print()
# input

In [14]:
print('enter your name')
name = input()
print('enter your age')
age = input()

enter your name
Omid
enter your age
18

In [15]:
print(name)

Omid

In [16]:
print(age)

18

In [17]:
print(type(name))

<class 'str'>

In [18]:
print(type(age))

<class 'str'>

In [19]:
print(age+2)

TypeError: can only concatenate str (not "int") to str

In [20]:
age = int(age)
print(age+2)

20

In [22]:
print("age")

age

In [23]:
print(age)

18

In [24]:
age = str(age)

In [25]:
print(age + str(2))

182

In [27]:
a = 'a str'
b = 20
c = 2.786

In [28]:
print(a)
print(b)
print(c)

a str
20
2.786

In [29]:
print(a, b, c)

a str 20 2.786

In [32]:
print(a, b, c, sep = ' ')

a str 20 2.786

In [33]:
print(a, b, c, sep = '---')

a str---20---2.786

In [34]:
print(a + b + c)

TypeError: can only concatenate str (not "int") to str

In [37]:
print(a + " " + str(b) + " " + str(c))

a str 20 2.786

In [38]:
a, b, c = ['welcome', 'to', 'python']

In [39]:
print(a)

welcome

In [40]:
print(b)

to

In [41]:
print(c)

python

In [42]:
d = input()

my name is Rafiei

In [43]:
print(d)

my name is Rafiei

In [44]:
print(type(d))

<class 'str'>

In [45]:
d_list = d.split()

In [46]:
print(d_list)

['my', 'name', 'is', 'Rafiei']

In [47]:
e, f, g, h = d_list

In [48]:
print(f)

name

In [50]:
print(e)

my

In [51]:
print('enter your first and last name')
first_last = input()

enter your first and last name
Omid Farrokhi

In [52]:
print(first_last)

Omid Farrokhi

In [53]:
firstName, lastName = first_last.split()

In [54]:
print(firstName)

Omid

In [55]:
print(lastName)

Farrokhi

In [57]:
print(first_last)

Omid Farrokhi

In [59]:
# comment
# variable
# Data types (int, float, str, list)
# Arithmetic operators (+, -, *, /, //, %, **)
# type casting (str -> int | int -> str)
# print()
# input()
# split()

In [60]:
print(abs(-100))

100

In [61]:
import math

In [62]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [63]:
x = math.pow(2, 3)
print(x)

8.0

In [64]:
x = math.sqrt(20)
print(x)

4.47213595499958

In [65]:
x = math.log(1000)
print(x)

6.907755278982137

In [66]:
x = math.log10(1000)
print(x)

3.0

In [67]:
x = math.log(1000, 10)
print(x)

2.9999999999999996

In [69]:
print(round(x, 2))

3.0

In [70]:
x = math.log2(1000)
print(x)

9.965784284662087

In [71]:
x = math.factorial(4)

In [72]:
print(x)

24

In [73]:
x = math.ceil(12.7)
print(x)

13

In [75]:
x = math.floor(12.7)
print(x)

12

In [76]:
# comment
# variable
# Data types (int, float, str, list)
# Arithmetic operators (+, -, *, /, //, %, **)
# type casting (str -> int | int -> str | str -> float)
# print()
# input()
# split()
# math (fact, floor, ceil, log, log2, log10, sqrt)
# import
# round()

In [77]:
# F = (9/5)C + 32

In [86]:
C = input()
F = (9/5)*float(C) + 32
# 
print(round(F, 3))
print(F)

10.5
50.9
50.900000000000006

In [87]:
print('%.3f'%F)

50.900

In [83]:
x = 2 * 3 + 4 # (2*3) + 4
print(x)

10

In [84]:
y = 4 + 2 * 3 # 4 + (2*3)
print(y)

10

In [97]:
F = 2.999
print(F)
print(round(F, 2))
print('%.2f'%F)

2.999
3.0
3.00