In [ ]:
12
14
15
102
15
17
-1

In [1]:
mylist = []
while True:
    number = int(input()) # 
    if number == -1:
        break
    mylist.append(number) 

print(sum(mylist) / len(mylist))

12
14
15
16
20
19
-1
16.0

In [2]:
sum_ = 0
count = 0
while True:
    number = int(input()) # 
    if number == -1:
        break
    sum_ = sum_ + number
    count += 1

print(sum_ / count)

12
14
15
16
20
19
-1
16.0

In [18]:
mystr = 'chon-zakhire-mishe-ye-ja-adada'
mylist = mystr.split('e')

In [19]:
print(mylist)

['chon-zakhir', '-mish', '-y', '-ja-adada']

In [13]:
print(mylist[-1::-2])

['adada', 'ye', 'zakhire']

In [20]:
a = 2
b = a

print('a = ', a)
print('b = ', b)

a = a + 1

print('a = ', a)
print('b = ', b)

a =  2
b =  2
a =  3
b =  2

In [21]:
a = [2, 3]
b = a

print('a = ', a)
print('b = ', b)

a = a + [1]
a.append(4)

print('a = ', a)
print('b = ', b)

a =  [2, 3]
b =  [2, 3]
a =  [2, 3, 1, 4]
b =  [2, 3]

In [22]:
a = [2, 3]
b = a

print('a = ', a)
print('b = ', b)

a += [1]

print('a = ', a)
print('b = ', b)

a =  [2, 3]
b =  [2, 3]
a =  [2, 3, 1]
b =  [2, 3, 1]

In [23]:
a = [2, 3]
b = a.copy()

print('a = ', a)
print('b = ', b)

a += [1]

print('a = ', a)
print('b = ', b)

a =  [2, 3]
b =  [2, 3]
a =  [2, 3, 1]
b =  [2, 3]

In [25]:
ord('3')

51

In [26]:
chr(51)

'3'

In [ ]:
8759 -> 29 -> 11 -> 2

In [27]:
def sum_of_digits(n): # n = 8759
    sum_ = 0
    while True:
        digit = n % 10 # 8
        sum_ += digit # 9 + 5 + 7 + 8 = 29
        n = n // 10 # 0
        if n == 0:
            break
    return sum_

In [28]:
sum_of_digits(8759)

29

In [29]:
sum_of_digits(29)

11

In [30]:
sum_of_digits(11)

2

In [31]:
n = 8759

In [32]:
n = str(n)
print(n)

8759

In [33]:
type(n)

str

In [35]:
n = list(n)

In [36]:
print(n)

['8', '7', '5', '9']

In [37]:
for index in range(len(n)):
    n[index] = int(n[index])

In [38]:
print(n)

[8, 7, 5, 9]

In [39]:
sum(n)

29

In [40]:
def sum_of_digits(n): # n = 8759
    n = list(str(n))
    for index in range(len(n)):
        n[index] = int(n[index])
    return sum(n)

In [41]:
sum_of_digits(8759)

29

In [43]:
list('10')

['1', '0']

In [ ]:
n = int(input())
for i in range(n):
    number = int(input())

In [44]:
def has_rep_digit(number): # number = 78654
    number = str(number) # '78654'
    for i in range(len(number)-1): # for i in [0,1,2,3,4]
        digit = number[i] # '7'
        if digit in number[i+1:]: # '78654'
            return True
    return False

In [47]:
has_rep_digit(7999)

True

In [50]:
import math 
round(math.log2(1/27),3)

-4.755

In [52]:
round(math.log2(1/27),3)

-4.755