In [7]:
# input
hours, minutes = input().split()
hours = int(hours) # 3
minutes = int(minutes) # 20

# calculations
seconds = (hours * 60 * 60) + (minutes * 60)
# seconds = hours * 60 * 60 + minutes * 60

# output
print(seconds)

3 20
12000

In [32]:
hours, minutes = map(int ,input().split())

3 20

In [34]:
print(type(hours))

<class 'int'>

In [ ]:
# input
hours, minutes = input().split()
hours = int(hours) # 3
minutes = int(minutes) # 20

In [8]:
# input
hours = input()
minutes = input()
hours = int(hours) # 3
minutes = int(minutes) # 20

# calculations
seconds = (hours * 60 * 60) + (minutes * 60)
# seconds = hours * 60 * 60 + minutes * 60

# output
print(seconds)

3
20
12000

In [9]:
print('Number' + '     ' + 'Square' + ' '*5 + 'Cube')

Number     Square     Cube

In [10]:
print('Number' + '     ' + 'Square' + ' '*5 + 'Cube')
print('     1' + ' '*10 + '1' + ' '*8 + '1')

Number     Square     Cube
     1          1        1

In [16]:
print('Number' + '     ' + 'Square' + ' '*5 + 'Cube')
print('     1' + ' '*10 + '1' + ' '*8 + '1')
print('     2' + ' '*10 + '4' + ' '*8 + '8')
print('     3' + ' '*10 + '9' + ' '*7 + '27')
print('     4' + ' '*9 + '16' + ' '*7 + '64')
print('     5' + ' '*9 + '25' + ' '*6 + '125')
print(' '*4 + '10' + )

Number     Square     Cube
     1          1        1
     2          4        8
     3          9       27
     4         16       64
     5         25      125
    10

In [30]:
print('Number' + '     ' + 'Square' + ' '*5 + 'Cube')
print('     1' + ' '*10 + '1' + ' '*8 + '1')
print('     2' + ' '*10 + '4' + ' '*8 + '8')
print('     3' + ' '*10 + '9' + ' '*7 + '27')
print('     4' + ' '*9 + '16' + ' '*7 + '64')
print('     5' + ' '*9 + '25' + ' '*6 + '125')

n = 10
count1 = math.floor(math.log10(n)) + 1 # 2
space1 = 6 - count # 4

count2 = math.floor(math.log10(n**2)) + 1 # 2
space2 = 11-count2

print(' '*space1 + str(n) + ' '*space2 + str(n**2))

Number     Square     Cube
     1          1        1
     2          4        8
     3          9       27
     4         16       64
     5         25      125
    10        100

In [26]:
import math
x = 10
count = math.floor(math.log10(x)) + 1
print(count)

2

In [42]:
# inputs
C, M, Y, K = map(float, input().split())

# C, M, Y, K = input().split()
# C = float(C)
# M = float(M)
# Y = float(Y)
# K = float(K)

# calculations
R = int(255 * (1 - C) * (1 - K))
G = int(255 * (1 - M) * (1 - K))
B = int(255 * (1 - Y) * (1 - K))

# output
# R, G, B = map(str,(R, G, B))
# print('(' + R + ', ' + G + ', ' + B + ')')
print('(', end = '')
print(R, G, B, sep = ', ', end = '')
print(')')

0 1 1 0
(255, 0, 0)

In [45]:
print(f'({R}, {G}, {B})')

(255, 0, 0)

In [57]:
a = 2
b = 3
print(f'a + b = {a+b}')

a + b = 5

In [48]:
a = 10 
b = 'hello'
print(f'{a} {b}')

10 hello

In [ ]:
print()

In [36]:
print(C, M, Y, K)

0.0 1.0 1.0 0.0

In [37]:
a = input('Enter a number: ')

Enter a number: 20

In [ ]:
# Variable / types
# input / output / calculations
# Conditions (if / else / elif) (and/ or)

In [50]:
a = 8
if a > 10 :
    print('Greater')
if a < 10 :
    print('Smaller')
    print('OK')
if a == 10:
    print('Equal')

Smaller
OK

In [56]:
mark = float(input())
if mark > 20 or mark < 0: # agar
    print('Invalid')
if mark > 17 : # dar gheir in soorat, agar
    print('A')
if mark > 15 :
    print('B')
if mark > 10:
    print('C')
else: # dar gheir in soorat
    print('F')

22
Invalid
A
B
C